<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label>Fecha Inicio:</label>
                            <input class="form-control" type="date" id="example-date-input">
                        </div>
                        <div class="col-4">
                            <label>Fecha Fin:</label>
                            <input class="form-control" type="date" id="example-date-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 5px;">
        <div class="col-12">
            <div class="card">
                <div class="card-body" style="min-height: 60vh; max-height: 60vh;">
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-4" *ngFor="let item of users">
            <div class="card" *ngIf="item.profile == 'Nurse'" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img src="/assets/nurse.png" width="60px" height="60px" />
                        </div>
                        <div class="col-9">
                            <p><label>{{item.name}}</label></p>
                            <p><label>Edad: {{item.age}}</label></p>
                            <p><label>RH: {{item.bloodType}}</label></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> -->
    
    
</div>