<div class="container">
    <img src="/assets/img/loginBackground.jpeg" alt="" class="background-image">
    <div class="row row justify-content-md-center login-container">
        <div class="col md-auto"></div>
        <div class="card col-md-3 justify-content-md-center align-self-center login-box">
            <div class="form-group">
                <label for="username">Usuario</label>
                <input id="username" class="form-control" type="text" [(ngModel)]="username"/>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input id="password" class="form-control" type="password" [(ngModel)]="password"/>
            </div>
            <button  type="button" class="btn btn-primary login-button" (click)="onChange()">Ingresar</button>
        </div>
        <div class="col md-auto"></div>
    </div>

</div>