<div class="container">
    <hr>
    <div class="col-lg-8 offset-lg-2">
        <div class="card bg-light mb-3">
            <div class="card-header">Historial de servicios</div>
            <div class="card-body">
                <div class="list-group" *ngIf="transactions.length > 0">
                    <a class="list-group-item list-group-item-action " *ngFor="let tran of transactions">
                        <div class="text-center m-a tt">
                            <img [src]="tran.imageUrl" alt="">
                        </div>
<hr>
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{tran.serviceDescription}}</h5>
                            <small>{{tran.createdDate | date:'yyyy-MM-dd '}}
                            </small>

                        </div>
                        <hr>

                        <p class="mb-1"><b>{{tran.notes}}</b>
                            <br>
                            Calificación actual:
                            <span
                                class="badge badge-{{ tran.transactionScore == 1 ? 'danger' : tran.transactionScore == 2 ? 'warning' : 'success' }}">

                                <i
                                    class="fas fa-{{ tran.transactionScore == 1 ? 'sad-tear' : tran.transactionScore == 2 ? 'meh' : 'smile' }}"></i>

                            </span>
                            <button class="btn btn-success float-right ml-1" (click)="updateTransaction(tran,3)">
                                <i class="fas fa-smile fa-2x"></i> </button>
                            <button class=" btn btn-warning float-right ml-1" (click)="updateTransaction(tran,2)"><i
                                    class="fas fa-meh fa-2x"></i> </button>
                            <button class="btn btn-danger float-right ml-1" (click)="updateTransaction(tran,1)"><i
                                    class="fas fa-sad-tear fa-2x"></i> </button>

                        </p>
                        <small>{{tran.productName}}</small>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{modal.msg}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Continuar</button>
                </div>
            </div>
        </div>
    </div>

</div>